.top {
    width: 100%;
    height:150px;
    background-color: blue;
    padding: 0;
    margin: 0;
    float: none;
    top:0;
    left: 0;
    position:absolute;
}
main{
    font-family: 'Miriam Libre', sans-serif;
}
.body1 {
    width: 100%;
    height: calc(100% - 150px);
    padding: 0;
    margin: 0;
    top: 150px;
    left: 0;
    position: absolute;
    background-color: white;
}
.textHead {
    color:white;
    text-align: center;
    font-size:40pt;
    padding: 0;
}
.Logo {
    width: 125px;
    height: 125px;
    top: -165;
    left: 10;
    position: relative;
    z-index: 1;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
#text{
    width: 800px;
    height: 500px;
    font-size:30pt;
    float: right;
    border:red solid;
    background-color: blue;
    animation-name: slidetext;
    transition-property: transform;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: right;
}
.textleft{
    width: 800px;
    height: 350px;
    font-size:30pt;
    margin-top: 500;
    float: left;
    border:red solid;
    background-color: blue;
    animation-name: slideleft;
    transition-property: transform;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: left;
}
@keyframes myAnimation{
    0% {border-radius: 0 0 0 0;}
    25% {border-radius: 50% 0 0 0;}
    50% {border-radius: 50% 50% 0 0;}
    75% {border-radius: 50% 50% 50% 0;}
    100% {border-radius: 50% 50% 50% 50%;}

}
@keyframes slidetext{
    0% {transform: scaleX(0); opacity: 0%;}
    25% {transform: scaleX(25%); opacity: 25%;}
    50% {transform: scaleX(50%); opacity: 50%;}
    75% {transform: scaleX(75%); opacity: 75%;}
    100% {transform: scaleX(1); opacity: 100%;}
}
@keyframes slideleft{
    0% {transform: scaleX(0); opacity: 0%;}
    25% {transform: scaleX(25%); opacity: 25%;}
    50% {transform: scaleX(50%); opacity: 50%;}
    75% {transform: scaleX(75%); opacity: 75%;}
    100% {transform: scaleX(1); opacity: 100%;}
}